{% extends "layout.html" %}
<!-- Define que este template HTML estende outro chamado "layout.html" -->

{% block content%}
<!-- Início do bloco de conteúdo chamado "content" -->

<div class="row">
  <!-- Início de uma linha (row) para exibir os personagens -->

  {% for character in characters %}
  <!-- Loop para cada personagem na lista "characters" -->

  <div class="col-sm-3 col-6">
    <!-- Cada personagem será exibido em uma coluna com largura específica -->

    <img src="{{character.image}}" alt="{{character.name}}" class="img-fluid img-thumbnail" />
    <!-- Exibe a imagem do personagem com o nome -->

    <h3 class="h5">{{character.name}}</h3>
    <!-- Exibe o nome do personagem como um cabeçalho de nível 3 (h3) -->

    <p>
      <a href="/profile/{{character.id}}" class="btn btn-primary">Ver perfil</a>
      <!-- Cria um link para o perfil do personagem com o ID específico -->
    </p>
  </div>

  {% endfor %}
</div>

{% endblock %}